@model IEnumerable<CategoryModel>
@{
    ViewData["Title"] = "Home Page";
}
@{ int nFirst = 0;}

<div class="text-center">
    <h1 class="display-4">Welcome to TechnologyWebStore</h1>
    <p>Learn more and find the greatest variety in technology.</p>
    <br />
    <div class="row" align="center">
        @foreach (var categories in Model)
        {
            <div class="card" style="width: 20rem;">
                <img src="@categories.ImageUrlCategory" class="card-img-top" alt="..." style="height:200px;">
                <div class="card-body">
                    <h5 class="card-title">@categories.NameCategory</h5>
                    <a asp-action="DetailsCategories" class="btn btn-info" asp-route-id="@categories.IdCategory">View Category</a>
                </div>
            </div>
        }
    </div>
</div>